.header.img{
  height: 10%;
  width: 50%;
  float: left;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: black;
    color: white;
  }
  input {
    background: grey;
    font-size: 18px;
  }
  
  form {
    display: inline-block;
  }
  
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
  






@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
