body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: black;
    color: white;
  }
  input {
    background: grey;
    font-size: 18px;
  }
  
  form {
    display: inline-block;
  }
  
  .centered {
    text-align: center;
  }