.header.img{
  height: 10%;
  width: 50%;
  float: left;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: black;
    color: white;
    text-align: center;
  }
  input {
    background: rgb(255, 255, 255);
    font-size: 18px;
  }
  
  form {
    display: inline-block;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
.jumbotron{
  color: black;
}
.card-body{
  
}
#ContactUs{
  text-align:center;
  background-color: whitesmoke;
}
.column {
  flex: 33.33%;
  padding: 5px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#locations{
  float: right;
} 
.row-form{
  float: right;
  align-items: right;
}
#footer{
  text-align: center;
}
.order{
  text-align: right;
}
#information{
  text-align: right;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
